amqp==5.2.0
asgiref==3.7.2
billiard==4.2.0
bleach==6.0.0
celery==5.3.5
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
Django==4.2.5
django-bootstrap5==23.3
django-celery-results==2.5.1
django-debug-toolbar==4.2.0
django-environ==0.11.2
django-filter==23.3
django-postgresql-dag==0.4.0
django-summernote==0.8.20.0
django-taggit==4.0.0
djangorestframework==3.14.0
drf-yasg==1.21.7
Faker==19.6.2
gunicorn==21.2.0
idna==3.6
inflection==0.5.1
kombu==5.3.4
Markdown==3.4.4
packaging==23.2
pexpect==4.9.0
Pillow==10.0.1
prompt-toolkit==3.0.41
psycopg2-binary==2.9.9
ptyprocess==0.7.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
stripe==7.11.0
typing_extensions==4.9.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.10
webencodings==0.5.1
