{% extends "auth_base.html" %}
{% load static %}
{% block body %}

    <section class="user-form-part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                    <div class="user-form-logo">
                        <a href="/"><img src="{{company_data.logo.url}}" alt="logo"></a>
                    </div>
                    <div class="user-form-card">
                        <div class="user-form-title">
                            <h1>The password has been changed!</h1>
                            <p><a href="{% url 'login' %}">log in again?</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}




<