{% extends "auth_base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block body %}

    <section class="user-form-part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                    <div class="user-form-logo">
                        <a href="/"><img src="{{company_data.logo.url}}" alt="logo"></a>
                    </div>
                    <div class="user-form-card">
                        {% if validlink %}
                            <div class="user-form-title">
                                <h2>Please enter (and confirm) your new password.</h2>
                                
                            </div>
                            <form class="user-form" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                                <div class="form-button">
                                    <button type="submit">Change my password</button>
                                </div>

                        {% else %}
                            <div class="user-form-card">
                                <h1>Password reset failed</h1>
                                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                            </div>
                        {% endif %}
                            </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
